@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #0273bd;
  --text-gray: #353535;
  --white: #ffffff;
  --desktop-max-width: 68.5rem;
  --footer-text: #4a4a4a;
  --secondary-foreground: #353535;
  --footer-heading: #363636;
  --footer-dark: #1e1e1e;
  --footer-border: #8a8a8a;
  --badge-bg: #d9fab1;
  --badge-text: #395d0d;
  --orange: #f98502;
  --border-select-item: #bdbcc733;
  --disable: #8a8a8a;
  --primary-light-blue: #88d8e833;
}

@theme {
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-light-blue: var(--primary-light-blue);
  --color-badge-bg: var(--badge-bg);
  --color-disable: var(--disable);
  --color-badge-text: var(--badge-text);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-blue: var(--primary-blue);
  --color-text-gray: var(--text-gray);
  --color-white: var(--white);
  --color-footer-text: var(--footer-text);
  --color-footer-heading: var(--footer-heading);
  --color-footer-dark: var(--footer-dark);
  --color-footer-border: var(--footer-border);
  --color-orange: var(--orange);
  --color-border-select-item: var(--border-select-item);
  --max-width-desktop: var(--desktop-max-width);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}
